.octodex{
	border: 1px solid grey;
	overflow: hidden;
	padding: 5px;
}

.octocat img {
	border: 1px solid grey;
	width: 100%;
}

.authors img{
	height: 30px;
	width: 30px;
	/*position: absolute;
	top:0;
	right:0;*/
}

.image-caption{
	float: right;
}

.image-footer{
	/*position:relative;*/
}

ul {
	list-style: none;
}

.octocat {
	border-bottom: 1px solid grey;
	width: 30%;
	float:left;
	margin: 15px;
}