*{
	border: 1px dotted red !important;

}

.octodex{
	border: 1px solid grey;
	overflow: hidden;
	padding: 5px;
}

.octocat img {
	border: 1px solid grey;
	width: 100%;
}

.image-number{
  float: left;
}

.authors img{
	width: 30px;
	float:left;
	/*position: absolute;
	top:0;
	right:0;*/
}

.image-caption{
  float: right;
}


.image-footer{
  overflow:hidden;
  line-height: 40px;
}

.image-caption span{
  float:left;
}

.image-caption a{
  float:left;
}

ul {
	list-style: none;
	float:left;
	padding: 0;
	margin: 0;
}

.octocat {
	border-bottom: 1px solid grey;
	width: 30%;
	float:left;
	margin: 15px;
}